<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h3>ユーザー情報</h3>
      <%= render 'info', user: @user %>
      <h3 class="mt-3">編成を</h3>
      <%= render 'parties/form', party: @party %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h3>作成した編成</h3>
      <%= render 'parties/index',parties: @parties %>
    </div>
  </div>
</div>
