<% if user_signed_in? %>
  <% if current_user.likes?(party) %>
    <%= link_to 'いいね解除', party_like_path(party), method: :delete, remote: true, class: "btn btn-danger btn-sm" %></br>
  <% else %>
    <%= link_to 'いいね', party_like_path(party), method: :post, remote: true, class: "btn btn-outline-danger btn-sm" %></br>
  <% end %>
<% end %>

<span class="likes-count">
  <%= party.likes_count %> いいね
</span>