<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">

      <h3><%= @model.capitalize %>検索結果 for "<%= @content %>"</h3>

     <% if @model == 'party' %>
        <div>
          <h4>Party Results:</h4>
          <% @records.each do |party| %>
            <p><%= link_to party.name, party %></p>
          <% end %>
        </div>
      <% elsif @model == 'tag' %>
        <div>
          <h4>Tag Results:</h4>
          <% @records.each do |tag| %>
            <p><%= link_to tag.name, tag %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>